@model dynamic

<h2>Canlı Yayın Başlatıldı</h2>

<p>Yayın URL'si: <a href="/LiveStream/Watch?url=@Model.StreamUrl" target="_blank">@Model.StreamUrl</a></p>

<p>Yayıncı Stream Key: @Model.StreamKey</p>

