@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to IVS with AWS</h1>
    <nav>
        <ul style="list-style-type: none; padding: 0;">
            <li style="margin-bottom: 10px;">
                <a href="/S3/Index" style="text-decoration: none; font-size: 20px;">S3 Browser</a>
            </li>
            <li style="margin-bottom: 10px;">
                <a href="/RecordingConfiguration/Index" style="text-decoration: none; font-size: 20px;">Recording Configuration</a>
            </li>
            <li style="margin-bottom: 10px;">
                <a href="/LiveStream/Index" style="text-decoration: none; font-size: 20px;">Start Live Stream</a>
            </li>
        </ul>
    </nav>
</div>